extends layout.pug

block content

	nav.nav
		a(href='/')
			span &larr;
				|  Back to home page

	.box
		h1= `Server Error`
		h2= `Error status: ${err.status}`
		p= `Error message: ${err.message}`
		div
			pre #{err.stack}