extends layout.pug

block content

	nav.nav
		a(href='/')
			span &larr;
				|  Back to home page

	.box
		h1 Page Not Found

		if err
			h2= `Status code: ${err.status}`
			p= `Error message: ${err.message}`